<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href = "style.css">
</head>
<body id = "contactbody"></body>
    <form >
         <div class ='form-id'>
        <h1>Contact Information</h1>
        <h2><b>Enter your Email</b></h2>
        <input type="email" id="email" name="email" placeholder="Email" id = "email"><br><br>

      
        <h2><b>Select your Gender</b></h2>
       
        <label for="male">
            <input type="radio" id="male" name="gender" value="Male"> Male
        </label>
        <label for="others">
            <input type="radio" id="male" name="gender" value="others"> Others
        </label>
        <label for="female">
            <input type="radio" id="female" name="gender" value="Female" > Female
        </label><br><br>
     

        <h2><b>Feedback</b></h2>
        <textarea  id="feedback" name="feedback" placeholder="Give your feedback" rows="6" cols="40"></textarea><br><br>

        <input type="submit" value="Submit" id="main_attributes" >
    </div>
    </form>
</body>
</html>
